<?xml version="1.0" encoding="utf-8"?>
<component version="1.5" xmlns="http://schemas.circuit-diagram.org/circuitDiagramDocument/2012/component/xml" xmlns:sym="http://schemas.circuit-diagram.org/component/2024/symbol/xml">
  <declaration>
    <meta name="name" value="Spring"/>
    <meta name="version" value="0.1.0"/>
    <meta name="guid" value="e6610f59-2136-4d0b-8734-2655168f3561"/>
    <meta name="author" value="KiCad Libraries"/>
    <meta name="license" value="Creative Commons CC-BY-SA 4.0 with Electronic Designs Exception"/>
    <meta name="minsize" value="10"/>
    <meta name="description" value="Compression spring"/>
    <property name="Reference" type="string" default="H" serialize="reference" display="Reference"/>
    <property name="Value" type="string" default="Spring" serialize="value" display="Value"/>
    <flags>
      <option>NoResize</option>
      <option>HorizontalOnly</option>
      <option>MiddleMustAlign</option>
    </flags>
  </declaration>
  <connections>
  </connections>
  <render>
    <path start="_Middle+0x+0y" data="M-4.403149606299213,11.196456692913387 L-1.36496062992126,10.943307086614173"/>
    <path start="_Middle+0x+0y" data="M-4.3570866141732285,0.6082677165354331 L-1.4799212598425198,0.3779527559055118"/>
    <path start="_Middle+0x+0y" data="M-4.190157480314961,11.983858267716535 L-3.495275590551181,11.836614173228346"/>
    <text x="_Middle-2.8840551181102363" y="_Middle-13.622047244094489" value="$Reference" align="CentreCentre" size="xxs"/>
    <text x="_Middle-2.8840551181102363" y="_Middle-5.622047244094488" value="$Value" align="CentreCentre" size="xxs"/>
  </render>
</component>
